<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <properties>
    <property name="name">applicationLog</property>
    <property name="pattern">%d{yyyy/MM/dd HH:mm:ss.SSS} [%highlight{%level}{FATAL=bg_red,
      ERROR=red, WARN=yellow, INFO=green, DEBUG=blue}] [%t] %logger{36}.%M(%L) :: %m%n
    </property>
    <property name="path">logs/</property>
  </properties>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${pattern}"/>
    </Console>
    <RollingFile name="File" fileName="${path}/${name}.log"
      filePattern="${path}/${name}_%d{yyyyMMdd}.log">
      <PatternLayout pattern="${pattern}"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="org.apache.catalina" level="warn" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="org.springframework" level="warn" additivity="false">
      <AppenderRef ref="File"/>
    </Logger>
    <Logger name="com.flab.planb" level="debug" additivity="false">
      <AppenderRef ref="File"/>
    </Logger>
    <Root level="warn">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>