<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="logback-console-appender.xml"/>
  <include resource="logback-file-appender.xml"/>

  <logger name="org.apache.catalina" level="info" additivity="false">
    <appender-ref ref="CONSOLE"/>
  </logger>
  <logger name="org.springframework" level="info" additivity="false">
    <appender-ref ref="ROLLING-FILE"/>
  </logger>
  <logger name="com.flab.planb" level="info" additivity="false">
    <appender-ref ref="ROLLING-FILE"/>
  </logger>
  <root level="info">
    <appender-ref ref="ROLLING-FILE"/>
  </root>
</configuration>