<?xml version="1.0" encoding="UTF-8"?>
<included>
  <include resource="logback-log-pattern.xml"/>
  <property name="LOG_FILE" value="logs/applicationLog.log"/>

  <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_FILE}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>14</maxHistory>
      <totalSizeCap>20GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>
</included>