<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.planb.service.mapper.SubscriptionMapper">
  <select id="existsDuplicateSubscription" parameterType="subscriptionRequest" resultType="int">
    select exists(
             select id
             from planb.tbl_subscription
             where member_id = #{memberId}
               and shop_id = #{shopId}
               and subscription_day = #{subscriptionDay}
               and subscription_time = #{subscriptionTime}
             )
  </select>
  <select id="findPushList" parameterType="int" resultType="pushInfo">
    select subscription.member_id,
           subscription.subscription_day,
           group_concat(shopInfo.name)                          as shop_name,
           date_format(subscription.subscription_time, '%H:%i') as subscription_time
    from planb.tbl_subscription subscription
           inner join (select shop.id, business.name
                       from planb.tbl_shop_info shop,
                            planb.tbl_business_info business
                       where shop.business_id = business.id) shopInfo
                      on subscription.shop_id = shopInfo.id,
         (select date_format(time(date_add(now(), interval 1 hour)), '%H') as plusHout,
                 date_format(now(), '%H')                                  as curhour,
                 date_format(now(), '%i')                                  as curminute
          from dual) temp
    where IF(curhour &lt; 23, subscription.subscription_day = #{subscriptionDay},
             subscription.subscription_day = #{subscriptionDay} + 1)
      and IF(temp.curminute &lt; 30, subscription.subscription_time = time (concat(temp.plusHout, ':00')),
        subscription.subscription_time = time(concat(temp.plusHout, ':30')))
    group by member_id, subscription_day, subscription_time
    order by member_id
      limit #{_skiprows}, #{_pagesize}
  </select>
  <insert id="saveSubscription" parameterType="subscription" useGeneratedKeys="true" keyProperty="id">
    insert into planb.tbl_subscription
      (member_id, shop_id, address_id, subscription_day, subscription_time)
    values (#{memberId}, #{shopId}, #{addressId}, #{subscriptionDay}, #{subscriptionTime})
  </insert>
  <insert id="saveSubscriptionMenus" parameterType="list">
    insert into planb.tbl_subscription_menu
    (subscription_id, menu_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.subscriptionId}, #{item.menuId})
    </foreach>
  </insert>
  <insert id="saveSubscriptionMenuOptions" parameterType="subscriptionMenu">
    insert into planb.tbl_subscription_menu_option
    (subscription_id, subscription_menu_id, menu_option_id)
    values
    <foreach collection="menuOptions" item="item" separator=",">
      (#{subscriptionId}, #{menuId}, #{item})
    </foreach>
  </insert>
</mapper>