<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.planb.mapper.member.AddressMapper">
  <!-- 사용자 배달주소 추가 -->
  <insert id="saveAddress" parameterType="addressDTO">
    insert into planb.tbl_member_address
      (member_id, zip_code, alias, address)
    values (#{memberId}, #{zipCode}, #{alias}, #{address})
  </insert>
  <select id="existById" parameterType="long" resultType="int">
    select exists(select id from tbl_members where id = #{memberId})
  </select>
  <select id="existByMemberIdAndId" parameterType="map" resultType="int">
    select exists(select id from tbl_member_address where id = #{id} and member_id = #{memberId})
  </select>
  <select id="findByMemberId" parameterType="long" resultType="addressDTO">
    select id, member_id, alias, zip_code, address
    from planb.tbl_member_address
    where member_id = #{memberId}
    order by id
  </select>
  <select id="findByMemberIdAndId" parameterType="map" resultType="addressDTO">
    select id, member_id, alias, zip_code, address
    from planb.tbl_member_address
    where id = #{id}
      and member_id = #{memberId}
  </select>
  <delete id="deleteByMemberIdAndId" parameterType="map">
    delete
    from planb.tbl_member_address
    where id = #{id}
      and member_id = #{memberId}
  </delete>
  <update id="updateAddress" parameterType="addressRequest">
    update planb.tbl_member_address
    <trim prefix="set" suffixOverrides=",">
      <if test="alias != null and alias != ''">alias = #{alias},</if>
      <if test="zipCode != null and zipCode != ''">zip_code = #{zipCode},</if>
      <if test="address != null and address != ''">address = #{address},</if>
    </trim>
    where id = #{id}
    and member_id = #{memberId}
  </update>
</mapper>