<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.planb.mapper.member.MemberMapper">
  <!-- 사용자 기본 회원정보 추가 -->
  <insert id="saveMemberInfo" parameterType="com.flab.planb.dto.member.Member">
    insert into planb.tbl_members
      (member_id, passwd, nickname, tel, email)
    values (#{memberId}, #{passwd}, #{nickname}, #{tel}, #{email})
  </insert>
  <!-- 사용 중인 ID인지 확인 -->
  <select id="countByMemberId" parameterType="string" resultType="int">
    select count(*)
    from planb.tbl_members
    where member_id = #{memberId}
  </select>
  <!-- 사용 중인 닉네임인지 확인 -->
  <select id="countByNickName" parameterType="string" resultType="int">
    select count(*)
    from planb.tbl_members
    where nickname = #{nickName}
  </select>
  <!-- MemberId로 회원정보 조회 -->
  <select id="findByMemberId" parameterType="string" resultType="loginDTO">
    select member_id, passwd, nickname
    from planb.tbl_members
    where member_id = #{memberId}
  </select>
</mapper>