<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.planb.mapper.shop.ShopBusinessDayMapper">
  <select id="existsDayoff" parameterType="subscription" resultType="int">
    select exists(select shop_id from planb.tbl_shop_dayoff where shop_id = #{shopId} and `day` = #{subscriptionDay})
  </select>
  <select id="existsWorkingDay" parameterType="subscription" resultType="int">
    select exists(
             select shop_id
             from planb.tbl_shop_working_day
             where shop_id = #{shopId}
               and `day` = #{subscriptionDay}
               and #{subscriptionTime} between operation_start_time and operation_end_time
             )
  </select>
</mapper>